In [5]:
#1
s=""
def is_symmetrical(num):
    s=str(num)
    o=s[::-1]
    if(s==o):
        return True
    else:
        return False
is_symmetrical(7227)

True

In [6]:
#2
def multiply_nums(s):
    l=s.split(",")
    mul=1
    for i in l:
        mul*=int(i.strip())
    return mul
multiply_nums("1, 2, 3, 4")

24

In [8]:
#3
def square_digits(num):
    s=str(num)
    o=""
    for i in s:
       o+=str(int(i)*int(i))
    return int(o)
square_digits(2483)

416649

In [14]:
#4
l=[]
l.sort()
def setify(l):
    l1=[]
    for i in l:
        if(i not in l1):
            l1.append(i)
    l1.sort()
    return l1
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [16]:
#5
def mean(num):
    s=str(num)
    mean=0
    for i in s:
        mean+=int(i)
    mean=mean/len(s)
    return round(mean)
mean(12345)

3